.profileScreen {
    height: 100vh;
    color: #fff;
  }
  
  .profileScreen_body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8%;
    max-width: 800px;
  }
  
  .profileScreen_body > h1 {
      font-size: 60px;
      font-weight: 400;
      border-bottom: 1px solid #282C2D;
      margin-bottom: 20px;
  }
  
  .profileScrren_details{
      color: #FFF;
      margin-left: 25px;
      flex: 1;
  }
  
  .profileScrren_details >h2{
      background-color: gray;
      padding: 15px;
      font-size: 15px;
      padding-left: 20px;
  }
  
  .profileScreen_signOut{
      padding: 10px 20px;
      font-size: 1rem;
      margin-top: 5%;
      width: 100%;
      background-color: #E50914;
      color: #FFF;
      border: none;
      cursor: pointer;
      font-weight: 600;
  }
  
  .profileScreen__plans{
      margin-top: 15px;
  }
  
  .profileScreen__plansHeading  {
      border-bottom: 1px solid #282C2D;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
  }
  .profileScreen__plansHeading > p {
      font-weight: 600;
  }
  
  
  .profileScreen_info {
    display: flex;
  }
  
  .profileScreen_info > img {
    height: 100px;
  }